.orders-page {
  overflow: hidden;
}

.orders-page .orders-component-container {
  padding: 30px 3%;
  margin: 0 auto;

  h1 {
    font-size: max(20px, 1.7vw);
    margin: max(5px, 1vw) 0 max(22.5px, 2.5vw);
    text-align: center;
    -webkit-animation: tracking-in-expand 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .wrapper {
    // border: 1px solid red;
    margin: max(22.5px, 2.5vw) 0;
    @media (max-width: 1150px) {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 12px;
      }
      &::-webkit-scrollbar-track {
        background: #fad8c5;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #fda673;
        border-radius: 5px;
      }
      .table {
        width: 800px;
        margin: 0 auto;
      }
    }
    .table {
      overflow: hidden;
      .table-header {
        display: flex;
        align-items: center;
        h5 {
          font-size: max(14.5px, 1vw);
          font-weight: 600;
        }
        .title {
          text-align: center;
          // border: 1px solid red;
        }
        .title1 {
          width: 12%;
          @media (max-width: 1150px) {
            width: 22%;
          }
        }

        .title2 {
          width: 18%;
          @media (max-width: 1150px) {
            width: 28%;
          }
        }

        .title3 {
          width: 15%;
          @media (max-width: 1150px) {
            width: 25%;
          }
        }

        .title4 {
          width: 18%;
          @media (max-width: 1150px) {
            width: 28%;
          }
        }

        .title5 {
          width: 15%;
          @media (max-width: 1150px) {
            width: 25%;
          }
        }

        .title6 {
          width: 15%;
          @media (max-width: 1150px) {
            width: 25%;
          }
        }

        .title7 {
          width: 6.5%;
          @media (max-width: 1150px) {
            width: 16.5%;
          }
        }
      }

      .table-body {
        padding: max(10px, 1vw) 0;
        .data {
          display: flex;
          align-items: center;
          text-align: center;
          padding: max(6px, 0.625vw) 0;
          font-size: max(14.5px, 1vw);
          .name {
            width: 12%;
            @media (max-width: 1150px) {
              width: 22%;
            }
          }
          .email {
            width: 18%;
            @media (max-width: 1150px) {
              width: 28%;
            }
          }
          .total {
            width: 15%;
            @media (max-width: 1150px) {
              width: 25%;
            }
          }
          .paid {
            width: 18%;
            .success {
              color: #439f41;
            }
            .danger {
              color: #d12411;
            }
            @media (max-width: 1150px) {
              width: 28%;
            }
          }

          .date {
            width: 15%;
            @media (max-width: 1150px) {
              width: 25%;
            }
          }

          .status {
            width: 15%;
            .success {
              color: #439f41;
            }
            .danger {
              color: #d12411;
            }
            @media (max-width: 1150px) {
              width: 25%;
            }
          }

          .action {
            width: 6.5%;
            a {
              color: #439f41;
              font-size: max(14.5px, 1.4vw);
            }
            @media (max-width: 1150px) {
              width: 16.5%;
            }
          }
        }
      }
    }
  }
}
