.header-container {
  // border: 1px solid red;
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: #fff;
  border-bottom: 1px solid rgba(108, 117, 125, 0.25);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
 // padding-top: 0.5rem;
// padding-bottom: 0.5rem;

.content{
   //border: 1px solid red;
   display: flex;
   align-items: center;
   cursor: pointer;
   .icon{
    margin-right: max(11px,0.9vw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(17px,1.2vw);
   }

   a{
      color: #000;
      display: flex;
     align-items: center;
   }

   .profile{
    content: url('../../../assets/aside/profile.webp');
    width: max(22px,1.7vw);
   }
}
}
