*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html{
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

body::-webkit-scrollbar {
  width: 12px;
  @media(max-width:1431px){
    width: 8px;
  }
}

body::-webkit-scrollbar-track {
  background: #e2deda;
  border-radius: 1px;
}

body.dark-mode::-webkit-scrollbar-track {
  background: #171717;
}

body::-webkit-scrollbar-thumb {
  // background-color:  #101010;
  background-color:  #EB8341;
  border-radius: 1px;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color:  #a05628;
}

.rec-swipable{
  align-items: stretch;
}
.rec-carousel-item-visible{
  margin:0;
  display: flex;
}

.rec-arrow,
.rec-arrow-left,
.rec-arrow-right {
  border: 1px solid #c7c7c7 !important;
  box-shadow: none !important;
  background: #fff !important;
  width: max(27.5px, 2vw) !important;
  height: max(27.5px, 2vw) !important;
  min-width: max(27.5px, 2vw) !important;
  min-height: max(27.5px, 2vw) !important;
  max-width: max(27.5px, 2vw) !important;
  max-height: max(27.5px, 2vw) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(15px, 1.25vw) !important;
  color: #000 !important;
}

body.dark-mode{
  background: #171717;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

