*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

body::-webkit-scrollbar {
  width: 12px;
  @media (max-width: 1431px) {
    width: 8px;
  }
}

body::-webkit-scrollbar-track {
  background: #e2deda;
  border-radius: 1px;
}

body.dark-mode::-webkit-scrollbar-track {
  background: #171717;
}

body::-webkit-scrollbar-thumb {
  // background-color:  #101010;
  background-color: #eb8341;
  border-radius: 1px;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color: #a05628;
}

body.offcanvas-active {
  overflow: hidden;
}

body {
  background-color: #f8f9fa;
}

.main-wrap {
  margin-left: 250px;
  background-color: #f8f9fa;
  @media (max-width: 768px) {
    margin-left: 60px !important;
  }
}

.hover-button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: fit-content;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #d11897;
  color: #fff;
  font-size: max(15px, 0.95vw);
  padding: max(10px, 0.75vw) max(25px, 2vw);
  border-radius: max(22px, 2vw);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hover-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c2178c;
  border-radius: max(22px, 2vw);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-button:hover:before,
.hover-button:focus:before,
.hover-button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

body.dark-mode {
  background: #171717 !important;
  background-repeat: repeat-y;
  background-attachment: fixed;

  .main-wrap {
    backdrop-filter: blur(max(10px, 0.75vw));
    -webkit-backdrop-filter: blur(max(10px, 0.75vw));
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
