.place-order-page {
  overflow: hidden;
}

.place-order-page .place-an-order-container {
  margin: max(8%, 120px) 0 max(5%, 50px);
  padding: 0 7.5%;

  @media (max-width: 1200px) {
    padding: 0 5%;
  }

  .top {
    background-color: #ecedf2;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: max(22px, 2.2vw);

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 1rem;
    }
    .row {
      display: flex;
      align-items: center;
      // border: 1px solid red;

      @media (max-width: 800px) {
        flex-direction: column;
        gap: 1rem;
      }

      .circle {
        align-items: center;
        background: #fff;
        border: 1px solid #c1cdf5;
        border-radius: 50%;
        display: flex;
        height: max(50px, 4.25vw);
        justify-content: center;
        position: relative;
        width: max(50px, 4.25vw);
        margin-right: max(15px, 1.25vw);
        svg {
          color: #1f2b63;
          font-size: max(14px, 1.3vw);
        }
      }

      &:last-child {
        .circle {
          width: 108px !important;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        @media (max-width: 800px) {
          text-align: center;
        }

        h6 {
          font-size: max(14px, 0.925vw);
          font-weight: 600;
          margin-bottom: max(6px, 0.25vw);
        }

        p {
          font-size: max(13px, 0.825vw);
          margin-bottom: max(6px, 0.25vw);
        }
      }
    }

    .row1 {
      width: 25%;
      @media (max-width: 1000px) {
        width: 30%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .row2 {
      width: 25%;
      @media (max-width: 1000px) {
        width: 30%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .row3 {
      width: 20%;
      @media (max-width: 1000px) {
        width: 25%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    position: relative;
    // border: 1px solid blue;
    gap: 1rem;

    .empty {
      // border: 1px solid red;
      width: 78%;
      text-align: center;
      h5 {
        font-size: max(14px, 0.825vw);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: #fff;
        width: 100%;
        background-color: #1f2b63;
        padding: max(12px, 1.2vw);
        font-size: max(14px, 1.2vw);
      }

      @media (max-width: 1250px) {
        width: 70%;
      }

      @media (max-width: 870px) {
        width: 55%;
      }
    }

    .order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      //  border: 1px solid red;
      width: 100%;
      gap: 1rem;

      @media (max-width: 500px) {
        flex-direction: column;
        gap: 1rem;
      }

      .img-container {
        position: relative;
        width: 15%;
        //    border: 1px solid red;
        .img {
          width: 100%;
          border-radius: 8px;
        }

        @media (max-width: 800px) {
          width: 20%;
        }

        @media (max-width: 500px) {
          width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        //    border: 1px solid red;
        width: 25%;

        @media (max-width: 800px) {
          width: 22%;
        }

        @media (max-width: 500px) {
          width: 100%;
        }

        h5 {
          font-size: max(15px, 1vw);
          margin-bottom: max(7.5px, 0.5vw);
          font-weight: 600;
        }
        a {
          color: #000;
        }

        p {
          font-size: max(16px, 0.925vw) !important;
        }
      }
    }
    .table-container {
      width: 30%;
      .table {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border: 1px solid #1f2b63;
        background-color: #fff;
        .line {
          display: flex;
          justify-content: space-between;
          padding: max(12px, 0.5vw) 10px;
          border-bottom: 1px solid #1f2b63;

          h5 {
            font-size: max(14px, 0.825vw);
            font-weight: 600;
          }
          p {
            font-size: max(14px, 0.825vw);
          }
        }
      }
      button {
        border: none;
        margin: 0 auto;
        background: #f17913;
      }

      button::before {
        background: #e07314;
      }

      @media (max-width: 1000px) {
        width: 45%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}

body.dark-mode {
  .place-order-page .place-an-order-container {
    .top {
      backdrop-filter: blur(max(10px, 0.75vw));
      -webkit-backdrop-filter: blur(max(10px, 0.75vw));
      background: hsla(0, 0%, 100%, 0.15);
      color: #fff;
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      .row {
        .info {
          h6 {
            color: #ddd;
          }
        }
        .circle {
          backdrop-filter: blur(max(10px, 0.75vw));
          -webkit-backdrop-filter: blur(max(10px, 0.75vw));
          background: hsla(0, 0%, 100%, 0.15);
          transition: 0.4s ease-in-out;
          -webkit-transition: 0.4s ease-in-out;
          svg {
            color: #fff;
          }
        }
      }
    }

    .order .info {
      h5 {
        color: #ddd;
      }
      p {
        color: #fff;
      }
    }

    .table-container {
      .table {
        backdrop-filter: blur(max(10px, 0.75vw));
        -webkit-backdrop-filter: blur(max(10px, 0.75vw));
        background: hsla(0, 0%, 100%, 0.15);
        color: #fff;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        border: 1px solid #ddd;
        .line {
          border-bottom: 1px solid #ddd;
        }
        h5 {
          color: #ddd;
        }
      }
    }
  }
}
