.img-collection-container {
  margin: max(5%, 50px) 0;
  padding: 0 7.5%;

  @media (max-width: 1000px) {
    padding: 0 5%;
  }

  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      border-radius: max(8px, 0.8vw);
      overflow: hidden;
      border: 1px solid #eee;
      position: relative;
      display: flex;
      flex-direction: column;
      margin: max(15px, 1.15vw) 0;

      &:hover {
        .img {
          transform: scale(1.15);
          -webkit-transform: scale(1.15);
        }
        .top-item {
          opacity: 1;
        }
      }

      .img {
        width: 100%;
        height: 100%;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }

      .top-item {
        position: relative;
        flex: 1 1;
        width: 100%;
        min-height: 21vw;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: max(30px, 2.5vw) max(20px, 1.75vw);
        opacity: 0;

        h6 {
          color: #fff;
          font-size: max(17.5px, 1.15vw);
          margin: max(15px, 1vw) 0;
        }

        .line {
          width: max(120px, 12vw);
          height: max(3px, 0.2vw);
          border-radius: max(3px, 0.2vw);
          margin-bottom: max(15px, 1vw);
          background: #f17913;
        }

        .hover-button {
          background: #f17913;
          svg {
            font-size: max(15px, 1vw);
            display: flex;
            align-items: center;
            margin-left: 8px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
          }
        }

        .hover-button:before {
          background: #e07314;
        }

        &:hover svg,
        :focus svg,
        :active svg {
          -webkit-animation-name: hvr-icon-buzz;
          animation-name: hvr-icon-buzz;
          -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

.img-collection-container .items {
  .item1 {
    width: 31.5%;
  }

  .item2 {
    width: 65.75%;
  }

  @media (max-width: 1000px) {
    .item1 {
      width: 48%;
    }
    .item2 {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .item1,
    .item2 {
      width: 100%;
      .top-item {
        h6 {
          text-align: center;
        }
        .line {
          margin: 0 auto max(15px, 1vw);
        }
        .hover-button {
          margin: 0 auto;
        }
      }
    }
  }
}

body.dark-mode{
  .img-collection-container .items .item{
    border: 1px solid transparent !important;
}
}
