.home-page .new-arrivals-container {
  margin: max(5%, 50px) 0;
  padding: 0 7.5%;

  @media (max-width: 1000px) {
    padding: 0 5%;
  }

  h2 {
    font-size: max(22px, 1.75vw);
    text-align: center;
  }

  .products-container .product-container{
    .img-container{
      span {
        display: block;
        background: #17d0c2;
        color: #fff;
        font-size: max(12px, 0.8vw);
        padding: max(8px, 0.4vw) max(10px, 1.4vw);
        position: absolute;
        top: 6%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    &:hover {
      .img-container {
        span {
          display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
    }
  }
}

body.dark-mode{
  .home-page .new-arrivals-container{
    h2{color: #fff;}
  }
}
