.products-list-container {
  margin: max(5%, 50px) 0;
  padding: 0 7.5%;

  @media (max-width: 1000px) {
    padding: 0 5%;
  }

  .top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 max(20.5px, 4vw);

    @media (max-width: 800px) {
      flex-direction: column;

      .search-container {
        margin: max(15.5px, 3vw) 0;
        width: 70% !important;
      }
    }

    .search-container {
      border: 1px solid #000;
      padding: max(2px, 0.2vw) max(2px, 0.2vw) max(2px, 0.2vw)
        max(11.5px, 0.95vw);
      display: flex;
      border-radius: 8px;
      background: transparent;
      //  margin: max(12.5px, 1vw) max(12.5px, 1vw) max(12.5px, 1vw) 0;
      width: 40%;
      form {
        display: flex;
        align-items: center;
        width: 100%;
        input {
          padding-left: max(3px, 0.3vw);
          margin-right: max(3px, 0.3vw);
          font-size: max(12px, 0.8vw);
          height: max(35px, 2.25vw);
          color: #000;
          background: none;
          border: 0;
          width: 100%;
        }
        button {
          border-radius: 8px;
          border: 0;
          background: #fcb815;
          color: #000;
          font-size: max(13px, 0.85vw);
          padding: max(5px, 0.4vw) max(17.5px, 1.5vw);
          height: max(35px, 2.25vw);
          font-weight: 500;
        }
      }
    }
  }
}

body.dark-mode {
  .products-list-container {
    .top {
      .search-container {
        backdrop-filter: blur(max(10px, 0.75vw));
        -webkit-backdrop-filter: blur(max(10px, 0.75vw));
        background: hsla(0, 0%, 100%, 0.15);
        color: #fff;
        border: 1px solid transparent;
        form {
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-transition: background-color 5000s ease-in-out 0s;
            -webkit-box-shadow: 0 0 0px 1000px #3a3a3a inset;
            box-shadow: 0 0 0px 1000px #3a3a3a inset;
            -webkit-text-fill-color: #fff !important;
          }
        }
      }
    }
  }
}
