.products-list-container {
  margin: max(5%, 50px) 0;
  padding: 0 7.5%;

  @media (max-width: 1000px) {
    padding: 0 5%;
  }

  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 max(20.5px, 4vw);

    @media (max-width: 800px) {
      flex-direction: column;

      .search-container {
        margin: max(15.5px, 3vw) 0;
        width: 70% !important;
      }
    }

    .row1 {
      display: flex;
      align-items: center;

      span {
        font-size: max(12.5px, 0.85vw);
      }

      select {
        margin: 0 max(7.5px, 0.5vw);
        font-size: max(11.5px, 0.75vw);
      }
    }

    .search-container {
      border: 1px solid #000;
      padding: max(2px, 0.2vw) max(2px, 0.2vw) max(2px, 0.2vw)
        max(11.5px, 0.95vw);
      display: flex;
      border-radius: 8px;
      background: transparent;
      //  margin: max(12.5px, 1vw) max(12.5px, 1vw) max(12.5px, 1vw) 0;
      width: 40%;
      input {
        padding-left: max(3px, 0.3vw);
        margin-right: max(3px, 0.3vw);
        font-size: max(12px, 0.8vw);
        height: max(35px, 2.25vw);
        color: #fff;
        background: none;
        border: 0;
        width: 100%;
      }
      button {
        border-radius: 8px;
        border: 0;
        background: #fcb815;
        color: #000;
        font-size: max(13px, 0.85vw);
        padding: max(5px, 0.4vw) max(17.5px, 1.5vw);
        height: max(35px, 2.25vw);
        font-weight: 500;
      }
    }

    .row2 {
      display: flex;
      align-items: center;
      span {
        font-size: max(12.5px, 0.85vw);
      }

      select {
        margin: 0 max(7.5px, 0.5vw);
        font-size: max(11.5px, 0.75vw);
      }
    }
  }
}
