.mobile-toolbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 75px;
    display: flex;
    z-index:2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 7.5% 10px;
    background-color: white !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    transition: 0.2s ease;
    .mobile-logo-row a{
        display: flex;
        align-items: center;
        .mobile-logo-container{
            content: url('../../../../assets/nav/nav-black-logo.png');
            height:45.5px;
        }
    }
    button{
        border:0;
        background-color: transparent;
        font-size: 40px;
        cursor: pointer;
        color:#111;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:330px){
    .mobile-toolbar{
        .mobile-logo-row a{
            .mobile-logo-container{
                height:40px;
            }
        }
        button{
            font-size: 35px;
        }
    }
    
}

body.dark-mode{
    .mobile-toolbar{
        background-color: #171717 !important;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
        .mobile-logo-row a{
            .mobile-logo-container{
                content: url('../../../../assets/nav/nav-white-logo.png');
            }
        }
        button{
            color: #fff;
        }
    }
}