.shopping-cart-container {
  margin: max(5%, 50px) 0;
  padding: 0 7.5%;

  @media (max-width: 1200px) {
    padding: 0 5%;
  }

  .top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .cart-products-nr,
    .wishlist {
      font-size: max(15px, 1.2vw);
      text-decoration: underline;
      cursor: pointer;
      a {
        color: #000;
      }
    }

    .empty {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      width: 100%;
      background-color: #ecedf2;
      padding: max(22px, 2.2vw);
      font-size: max(15px, 1.4vw);

      .hover-button {
        margin-left: 20px;
        background-color: #ec3625;
        svg {
          font-size: max(15px, 1vw);
          display: flex;
          align-items: center;
          margin-left: 8px;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }
        &:hover svg,
        :focus svg,
        :active svg {
          -webkit-animation-name: hvr-icon-buzz;
          animation-name: hvr-icon-buzz;
          -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }
      }

      .hover-button::before{
        background-color: #d43122
      }

      @media (max-width: 400px) {
        flex-direction: column;
        gap: 1rem;
        .hover-button {
          margin-left: 0;
        }
      }
    }
  }

  .product-in-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: max(20.5px, 4.5vw) 0;

    @media(max-width: 500px){
      flex-direction: column;
      gap: 1rem;
    }

    .img-container {
      position: relative;
      width: 15%;
    //  border: 1px solid red;

      @media(max-width: 800px){
        width: 20%;
      }

      @media(max-width: 500px){
        width: 100%;
      }
      .img {
        width: 100%;
        border-radius: 8px;
      }

      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ec3625;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-size: max(14px, 0.825vw);
        position: absolute;
        top: -10px;
        left: -10px;
        cursor: pointer;
        svg {
          display: flex;
          align-items: center;
        }
      }
    }

    .infos {
    //  border: 1px solid red;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @media(max-width: 800px){
        width: 22%;
      }

      @media(max-width: 500px){
        width: 100%;
      }
      .inline {
        h5 {
          font-size: max(15px, 1vw);
          margin-bottom: max(7.5px, 0.5vw);
        }

        a {
          p {
            font-size: max(16px, 0.925vw) !important;
            color: #000;
            font-weight: 600;
          }
        }
      }
    }

  
    .quantity {
    //  border: 1px solid red;
      width: 25%;
      display: flex;
     flex-direction: column;
      justify-content: center;
      align-items: center;
      @media(max-width: 800px){
        width: 22%;
      }
      @media(max-width: 500px){
        width: 100%;
      }
      h5 {
        font-size: max(15px, 1vw);
        margin-bottom: max(7.5px, 0.5vw);
      }

      select {
        width: 100px;
        height: 40px;
        text-align: center;
        border: 0;
        border-radius: 5px;
        background-color: #ecedf2;
        font-size: max(15px, 0.925vw);
        option {
          background-color: #ecedf2;
        }
      }
    }

    .subtotal {
      //border: 1px solid red;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media(max-width: 800px){
        width: 22%;
      }
      @media(max-width: 500px){
        width: 100%;
      }
      h5 {
        font-size: max(15px, 1vw);
        margin-bottom: max(7.5px, 0.5vw);
      }
      p {
        font-size: max(16px, 0.925vw) !important;
        font-weight: 600;
      }
    }
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
      font-size: max(15px, 1vw);
      margin-right: 10px;
    }
    h6 {
      font-size: max(16px, 0.925vw) !important;
      font-weight: 600;
      color: #168813;
    }
  }

  .line {
    background-color: #252a413f;
    height: 1px;
    margin: 1vw 0;
    width: 100%;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: max(20.5px, 4.5vw) 0;

    @media(max-width: 350px){
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    .hover-button {
      background-color: #f17913;
      svg {
        font-size: max(15px, 1vw);
        display: flex;
        align-items: center;
        margin-left: 8px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }
      &:hover svg,
      :focus svg,
      :active svg {
        -webkit-animation-name: hvr-icon-buzz;
        animation-name: hvr-icon-buzz;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
    }

    .hover-button:before {
      background: #e07314;
    }

    button {
      background-color: #ec3625 !important;
      border: none;
      svg {
        font-size: max(15px, 1vw);
        display: flex;
        align-items: center;
        margin-left: 8px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }
      &:hover svg,
      :focus svg,
      :active svg {
        -webkit-animation-name: hvr-icon-buzz;
        animation-name: hvr-icon-buzz;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
    }

    button::before {
      background-color: #d43122 !important;
    }
  }
}

body.dark-mode{
  .shopping-cart-container{
    .top{
      color: #fff;
      a{color: #fff;}

      .empty{
        backdrop-filter: blur(max(10px, 0.75vw));
      -webkit-backdrop-filter: blur(max(10px, 0.75vw));
      background: hsla(0, 0%, 100%, 0.15);
      //  color: #fff;
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      }
    }

    .product-in-cart{
      color: #ddd;
      p{color: #fff !important;}
      select {
        backdrop-filter: blur(max(10px, 0.75vw));
        -webkit-backdrop-filter: blur(max(10px, 0.75vw));
        background: hsla(0, 0%, 100%, 0.15);
        color: #fff;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        option {
          color: #fff;
          background-color: #3a3a3a;
        }
      }
    }

    .total{
      color: #ddd;
    }

    .line{
      background-color: #ddd; 
    }
  }
}